# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_430020001650344D30363620-if00
# serial: /dev/ttyAMA0
# restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100


#####################################################################
# 	Includes
#####################################################################

[include mainsail.cfg]
[include includes/fans.cfg]
[include includes/probe.cfg]
[include includes/axis.cfg]
[include includes/extruder.cfg]
[include includes/bed.cfg]
[include macros.cfg]














